{% extends 'base.html' %}
{% load static %}
<style>
    .container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
    {% block content %}
    Did you ever image that the various things, top quality something and something.
    Eric basket brings a shopping 20000+ products with more than 1000 brands to over 
    4 million crazy customers.
    <img src="/static/background.jpg" width="1050" height="700" style="text-align:center;">
    {% endblock content %}
</body>