{% extends 'base.html' %}

<body>
    {% block content %}
        <table border="2">
            <tr>
                <td>Id:</td><td>{{ object.id }}</td>
            </tr>
            <tr>
                <td>Username:</td><td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Email Id:</td><td>{{ object.emailid }}</td>
            </tr>
            <tr>
                <td>Phone Number:</td><td>{{ object.phoneNum }}</td>
            </tr>
        </table>

        {% if request.user.is_superuser %}
            <br>
            <a href="{% url 'userupdate' object.id %}">Update</a>
            <a href="{% url 'userdelete' object.id %}">Delete</a>
        {% else %}
            <p>Log in as a supersuser to edit user info.</p>
        {% endif %}
    {% endblock content %}
</body>