{% extends 'base.html' %}

<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<body>
    {% block content %}
    <form method="get" action="logout">
        <button type="submit" style="float: right; width: 10%; height: 30px; font-size: 15px;">Log out</button>
    </form>
    <div class="row">
        <div class="column">
            <h2>Dairy</h2>
            {% for dairy_prod in dairy %}
                <input type="checkbox" id={{dairy_prod}} name="products" value={{dairy_prod}}>
                <label for="{{dairy_prod}}">{{dairy_prod}}</label><br>
            {% endfor %}
        </div>
        <div class="column">
            <h2>Stones</h2>
            {% for stones_prod in stones %}
                <input type="checkbox" id={{stones_prod}} name="products" value={{stones_prod}}>
                <label for="{{stones_prod}}">{{stones_prod}}</label><br>
            {% endfor %}
        </div>
        <div class="column">
            <h2>Tumbleweed</h2>
            {% for tumbleweed_prod in tumbleweed %}
                <input type="checkbox" id={{tumbleweed_prod}} name="products" value={{tumbleweed_prod}}>
                <label for="{{tumbleweed_prod}}">{{tumbleweed_prod}}</label><br>
            {% endfor %}
        </div>
        <div class="column">
            <h2>Air</h2>
            {% for air_prod in air %}
                <input type="checkbox" id={{air_prod}} name="products" value={{air_prod}}>
                <label for="{{air_prod}}">{{air_prod}}</label>
            {% endfor %} -->
        </div>
    </div>
    {% endblock %}
</body>